# Folders
#########
#The data in these folders is too big for github.
DATA/
mxd/
model_runs/old_models/
output/
.Rproj.user/
model_runs/


# File Types
############
*.tif
*.tif.aux
*.tif.ovr
*.gdb
*.gdb/
*.lock
*.tif.lyr
*.tif.aux.xml
*.zip
*.7z

# Specific Files
model_runs/ID_CV_model_BS_UPDATE/ID_CV_model_BS_UPDATE.rds
model_runs/OTHER_VEG_NORM_scale/
.Renviron
.Rhistory